{% extends 'layout.twig' %}
{% block content %}
<section>
    <div class="section-header">
        <h2>{{ __('Storage')|e }}</h2>
        <div class="actions-right">
            {% include 'partials/dynamic_search.twig' with { path: path|default(current_path()), q: q|default(''), sort: sort|default('name'), dir: dir|default('asc'), classes: 'inline' } %}
            <a class="ui button" href="{{ url('/storage/new') }}">{{ __('+ Add Item')|e }}</a>
            <a class="ui button" href="{{ url('/storage/history') }}">{{ __('History')|e }}</a>
        </div>
    </div>

    {% include 'partials/dynamic_list.twig' with {
        title: '',
        items: items|default([]),
        columns: columns,
        actions: { edit_url: url('/storage/edit'), delete_url: url('/storage/delete'), id_field: 'id' }
    } %}
    <div class="list-footer">
        {% set extra = {q: q|default(''), per: (per|default(10))|int} %}
        {{ paginate(total|default(items|length)|int, page|default(1)|int, per|default(10)|int, path|default(current_path()), extra|merge({sort: sort|default('name'), dir: dir|default('asc')}))|raw }}
    </div>
</section>
{% endblock %}